#education {
    box-sizing: border-box;
}

#education .section-content {
    width: 100%;
    box-sizing: border-box;
}

#education .main-content {
    margin: 0;
    padding: 4rem;

    width: 100%;
}

#education .edu-list {
    width: 100%;

    list-style: none;

    display: flex;

    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 2rem;
}

#education .edu-list li {
    width: 100%;
}

.edu-card {
    width: 100%;
    box-sizing: border-box;

    display: flex;

    flex-direction: row;
    justify-content: start;
    align-items: start;

    gap: 2rem;
}

