#competitive-programming {
    box-sizing: border-box;
}

#competitive-programming .section-content {
    width: 100%;
    box-sizing: border-box;
}

#competitive-programming .main-content {
    margin: 0;
    padding: 4rem;

    width: 100%;
}

#competitive-programming .leetcode-card {
    height: 70vh;
}

